<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <div class="content">
    <div class="left-side">

      <div>
          <form [formGroup]="searchForm" >
            <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput type="text" formControlName="keyword" placeholder="Search...">
            <!-- <button type="submit">Search</button> -->
          </mat-form-field>
          </form>
      </div>
      <!-- <mat-list>
        <mat-list-item *ngFor="let villager of filteredData.slice(0,10)">
          <p matLine>{{ villager.name }}</p>
          <p matLine>Thông tin khác về villager</p>
        </mat-list-item>
      </mat-list> -->
      <!-- <ul>
        <li *ngFor="let villager of filteredData">{{ villager.name }}</li>
      </ul> -->
      <table mat-table [dataSource]="filteredData.slice(0,10)" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên </th>
          <td mat-cell *matCellDef="let villager"> 
            <a [href]="'https://nookipedia.com/wiki/' + villager.name" target="_blank">{{ villager.name }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="species">
          <th mat-header-cell *matHeaderCellDef> Loại </th>
          <td mat-cell *matCellDef="let villager"> 
            <a>{{ villager.species }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Giới tính </th>
          <td mat-cell *matCellDef="let villager"> 
            <a>{{ villager.gender }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="personality">
          <th mat-header-cell *matHeaderCellDef> Tính cách </th>
          <td mat-cell *matCellDef="let villager"> 
            <a>{{ villager.personality }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef> Sinh nhật </th>
          <td mat-cell *matCellDef="let villager"> 
            <a>{{ villager.birthday_month }} {{ villager.birthday_day }}</a>
          </td>
        </ng-container>




          <!-- Header của bảng -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- Dòng dữ liệu -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- <div *ngIf="data.length > 0; else noData">
      <ul>
        <li *ngFor="let villager of data">
          {{ villager.name }} - {{ villager.species }} 
        </li>
      </ul>
    </div> -->
    
    <ng-template #noData>
      <p>Không có dữ liệu để hiển thị.</p>
    </ng-template>
    <div class="divider" role="separator" aria-label="Divider"></div>

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <router-outlet /> -->
