/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    margin-bottom: 20px;
  }
  
  mat-list-item {
    border-bottom: 1px solid #ccc;
  }
